* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    display: flex;
    flex-direction: row;    
}

.results-area {
    display: none;
}

label,
input {
    margin-left: 0px;
    margin-right: 5px;
}

#limit-select {
    width: 40px;
}

#error-message {
    margin-top: 60px;
    color: red;
}